//- HTML Variables 
-var pageTitle = 'Green Shop'
-var content_rowOne__p1 = 'Open time: 8:00 -18:00 Monday - Sunday'
-var content_rowTwo__p1 = 'Đăng nhập'
-var content_rowTwo__p2 = 'Đăng ký'
-var content_p ='HỖ TRỢ : (04)6674 2332 - (04)3786 8904'
-var content_250k = '250.000 đ'
-var content6__p1 = 'thứ 7 ,ngày 31, tháng 12, năm 2015'
-var caydanhdu ='Cây Danh Dự'
-var caydalam ='Cây Dạ Lam'
doctype html
html(lang='en')
  head
    title #{pageTitle}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='vendor/bootstrap.js')
    //- script(type='text/javascript', src='1.js')
    link(rel='stylesheet', href='vendor/bootstrap.css')
    link(rel='stylesheet', href='vendor/font-awesome.css')
    link(rel="stylesheet", href="detail.css")
    link(rel="stylesheet", href="style.css")
  body
    // Start : Header
    include header.pug
    // End : Header
    // Start : Content1
section.Detail-Content1
  .Detail-Content1--One
    .container.Detail-Content1--One--container
      p.Detail-Content1--One--container__p1 Home /
      p.Detail-Content1--One--container__p2 Cây dạ lam
  .Detail-Content--Two
    .container.Detail-Content--Two--container
      .row.Detail-Content--Two--container--row
        .col-xs-5.col-sm-5.col-md-5.col-lg-5.Detail-Content--Two--container--displaycolOne
          .Detail-Content--Two--container--displaycolOne--rwoOneimg
            img(src='img/Green Shop/PSD/spx2/spx2-15.png', width='437px', height='360px')
          .Detail-Content--Two--container--displaycolOne--rwoTwoimg
            img(src='img/Green Shop/PSD/spx2/spx2-1.png', height='77px', width='77px')
            img(src='img/Green Shop/PSD/spx2/spx2-5.png', height='77px', width='77px')
            img(src='img/Green Shop/PSD/spx2/spx2-7.png', height='77px', width='77px')
            img(src='img/Green Shop/PSD/spx2/spx2-12.png', height='77px', width='77px')
            img(src='img/Green Shop/PSD/spx2/spx2-14.png', height='77px', width='77px')
        .col-xs-7.col-sm-7.col-md-7.col-lg-7.Detail-Content--Two--container--displaycolTwo
          p.Detail-Content--Two--container--displaycolTwo__p1 Cây Dạ Lam
          .Detail-Content--Two--container--displaycolTwo--star
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
          .Detail-Content--Two--container--displaycolTwo--rate
            p.Detail-Content--Two--container--displaycolTwo--rate__p1 4.099.000 đ
            p.Detail-Content--Two--container--displaycolTwo--rate__p2 4.099.000  đ
          hr.Detail-Content--Two--container--displaycolTwo__hr
          p.Detail-Content--Two--container--displaycolTwo__p2
            | Cây mọc thành bụi thưa , thân vương thẳng với chiều cao cây trung bình
            | từ 0.8-1,2m. Lá hình trứng , mép tả nguyên , gân lá nổi rõ , phiến rộng khoảng từ 15-20cm. Lá có màu xanh đậm ở mặt trên , quanh gân
            | có màu trắng sữa , mặt dưới lá màu nhạt hơn. Lá cây dạ lam mọc cách , cuống lá dài khi rụng để lại các khía màu nâu nhạt .
          hr.Detail-Content--Two--container--displaycolTwo__hr
          .Detail-Content--Two--container--displaycolTwo--Three
            p.Detail-Content--Two--container--displaycolTwo--Three__p Số lượng
            .Detail-Content--Two--container--displaycolTwo--Three--One -
            .Detail-Content--Two--container--displaycolTwo--Three--Two 1
            .Detail-Content--Two--container--displaycolTwo--Three--Three +
          hr.Detail-Content--Two--container--displaycolTwo__hr
          .Detail-Content--Two--container--displaycolTwo--Four
            p.Detail-Content--Two--container--displaycolTwo--Four__p mua ngay
            i.fa.fa-search(aria-hidden='true')
            i.fa.fa-heart(aria-hidden='true')
          img(src='img/Green Shop/PSD/support1_detail.png' alt='abc')
    // End : Content1
    // Start : Content2
section.Detail-Content2
  .col-xs-9.col-sm-9.col-md-9.col-lg-9
    .container.Detail-Content2--container
      .row.Detail-Content2--container--row
        p.Detail-Content2--container--row__p1 thông tin sản phẩm
        p.Detail-Content2--container--row__p2 khách hàng đánh giá
        p.Detail-Content2--container--row__p3 thẻ tag
      .Detail-Content2--container--Two
        p Tên phổ thông : Dạ lam , Huỳnh tình cảnh , Dong vần
        p Tên khoa học : Calathea zebrina
        p Họ thực vật : Marantaceae ( Củ dong )
        p Chiều cao : 0,8-1,2m
        p Cây dạ lam có nguồn gốc từ Brazil , được du nhập và phân bố rộng khắp ở Việt Nam
        p
          | Cây mọc thành bụi thưa , thân vươn thẳng với chiều cao trung bình từ 0,8-1,2m . Lá hình trứng , mép là nguyên ,
          | gân lá nổi rõ , phiến rộng khoảng từ 15-20cm . Lá có màu xanh đậm ở mặt trên , quanh gân lá có màu trắng sữa ; 
          | mặt dưới lá nhạt màu hơn . Lá cây dạ lam mọc cách , cuống lá dài khi rụng để lại các khía màu nâu nhạt .
          br
          | 							Cây dạ lan thuộc loại cây chịu bóng bán phần hoặc hoàn toàn , nhu cầu nước tương đối cao . Cây được nhân giống 
          | 							từ tách bụi , cây mọc khỏe , tốc độ sinh trưởng nhanh với sức sống mạnh . Đây là loại cây có dáng đẹp , màu lá
          | 							mướt mát , tươi khỏe , cây rất phù hợp trồng chậu trang trí nội thất - văn phòng .
          br
          | 							Ngoài ra , cây còn có đặc điểm lọc khí , làm xanh mát môi trường , giúp điều hòa không khí , đặc biệt cho những môi
          | 							trường thường xuyên sử dụng các loại máy tảng nhiệt . Có thể bày cây ở hành lang hay ở giữa sảnh , đặt ở bàn làm
          | 							việc hoặc trang trí các góc phòng có diện tích trung bình .
    // End : Content2
    // Start : Content3
section.Detail-Content3
  .container.Detail-Content3--container
    .Detail-Content3--containe--One
      p.Detail-Content3--containe--One__p Sản phẩm cùng loại
      hr.Detail-Content3--containe--One__hr
      .Detail-Content3--containe--One--containIcoin
        i.fa.fa-chevron-circle-left(aria-hidden='true')
        i.fa.fa-chevron-circle-right(aria-hidden='true')
    .Detail-Content3--containe--Two
      .card-deck.Detail-Content3--containe--Two--card-deck--One
        .card.Detail-Content3--containe--Two--card-deck--card
          img.Detail-Content3--containe--Two--card-deck--card__img(src='img/Green Shop/PSD/spx2/spx2-11.png', alt='', width='258px', height='222px')
          p.Detail-Content3--containe--Two--card-deck--card__p Cây cọ Nhật
          .Detail-Content3--containe--Two--card-deck--card--star
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star-half-o(aria-hidden='true')
          .Detail-Content3--containe--Two--card-deck--card--rate
            p.Detail-Content3--containe--Two--card-deck--card--rate__p1 250.000 đ
            p.Detail-Content3--containe--Two--card-deck--card--rate__p2 250.000 đ
      .card-deck.Detail-Content3--containe--Two--card-deck--Two
        .card.Detail-Content3--containe--Two--card-deck--card
          img.Detail-Content3--containe--Two--card-deck--card__img(src='img/Green Shop/PSD/spx2/spx2-11.png', alt='', width='258px', height='222px')
          p.Detail-Content3--containe--Two--card-deck--card__p Cây Hồng Môn
          .Detail-Content3--containe--Two--card-deck--card--star
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star-half-o(aria-hidden='true')
          .Detail-Content3--containe--Two--card-deck--card--rate
            p.Detail-Content3--containe--Two--card-deck--card--rate__p1 250.000 đ
            p.Detail-Content3--containe--Two--card-deck--card--rate__p2 250.000 đ
      .card-deck.Detail-Content3--containe--Two--card-deck--Three
        .card.Detail-Content3--containe--Two--card-deck--card
          img.Detail-Content3--containe--Two--card-deck--card__img(src='img/Green Shop/PSD/spx2/spx2-11.png', alt='', width='258px', height='222px')
          p.Detail-Content3--containe--Two--card-deck--card__p Cây phát Lộc
          .Detail-Content3--containe--Two--card-deck--card--star
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star-half-o(aria-hidden='true')
          .Detail-Content3--containe--Two--card-deck--card--rate
            p.Detail-Content3--containe--Two--card-deck--card--rate__p1 250.000 đ
            p.Detail-Content3--containe--Two--card-deck--card--rate__p2 250.000 đ
      .card-deck.Detail-Content3--containe--Two--card-deck--Four
        .card.Detail-Content3--containe--Two--card-deck--card
          img.Detail-Content3--containe--Two--card-deck--card__img(src='img/Green Shop/PSD/spx2/spx2-11.png', alt='', width='258px', height='222px')
          p.Detail-Content3--containe--Two--card-deck--card__p Cây Kim Ngân
          .Detail-Content3--containe--Two--card-deck--card--star
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star-half-o(aria-hidden='true')
          .Detail-Content3--containe--Two--card-deck--card--rate
            p.Detail-Content3--containe--Two--card-deck--card--rate__p1 250.000 đ
            p.Detail-Content3--containe--Two--card-deck--card--rate__p2 250.000 đ
    // End : Content3

  // Start : Footer
  include footer.pug
  // End : Footer
