doctype html
title  Example 
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
script(type='text/javascript', src='vendor/bootstrap.js')
script(type='text/javascript', src='1.js')
link(rel='stylesheet', href='vendor/bootstrap.css')
link(rel='stylesheet', href='vendor/font-awesome.css')
link(rel='stylesheet', href='style.css')
// Start : Header
header.header
  .headerContent1
    .container.headerContent1--container
      .row.headerContent1--container--rowOne
        i.fa.fa-clock-o(aria-hidden='true')
        p.rowOne__p1 Open time: 8:00 -18:00 Monday - Sunday 
        i.fa.fa-facebook.item-1(aria-hidden='true')
        i.fa.fa-twitter.item-2(aria-hidden='true')
        i.fa.fa-tumblr.item-3(aria-hidden='true')
        i.fa.fa-vimeo.item-4(aria-hidden='true')
      .row.headerContent1--container-rowTwo
        .headerContent1--container--rowTwoOne.item-5
          i.fa.fa-user(aria-hidden='true')
          p.rowTwo__p1 Đăng nhập
        .headerContent1--container--rowTwoTwo.item-6
          i.fa.fa-user-plus(aria-hidden='true')
          p.rowTwo__p2 Đăng ký
// End : Header
