footer.footer
  .container.footer--container1
    .row.footer--container1--row
      .col-xs-4.col-sm-4.col-md-4.col-lg-4.footer--container1--row--displayrowOneCol1
        p.footer--container1--row--displayrowOneCol1__p kênh thông tin từ chúng tôi :
        .footer--container1--row--displayrowOneCol1--icoin
          i.fa.fa-facebook(aria-hidden='true')
          i.fa.fa-twitter(aria-hidden='true')
          i.fa.fa-youtube-play(aria-hidden='true')
          i.fa.fa-vimeo(aria-hidden='true')
      .col-xs-2.col-sm-2.col-md-2.col-lg-2.footer--container1--row--displayrowOneCol2
        p.footer--container1--row--displayrowOneCol2__p đăng ký nhận email từ chúng tôi
      .col-xs-6.col-sm-6.col-md-6.col-lg-6.footer--container1--row--displayrowOneCol3
        .footer--container1--row--displayrowOneCol3--left
        .footer--container1--row--displayrowOneCol3--right
          i.fa.fa-paper-plane(aria-hidden='true')
  hr
  .container.footer--container2
    .row.footer--container2--row
      .col-xs-4.col-sm-4.col-md-4.col-lg-4.footer--container2--row--displayrowOnecol1
        img.footer--container2--row--displayrowOnecol1__img(src='../support_file/img/Green Shop/PSD/footer_image1.png')
        p.footer--container2--row--displayrowOnecol1__p
          | Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay
          | cửa hàng ngày một phát triển
        .footer--container2--row--displayrowOnecol1__containicoin
          .footer--container2--row--displayrowOnecol1__containicoin1
            i.fa.fa-mobile(aria-hidden='true')
            p.footer--container2--row--displayrowOnecol1__containicoin1__p Điện thoại : (84-4) 66.558.868
          .footer--container2--row--displayrowOnecol1__containicoin2
            i.fa.fa-envelope(aria-hidden='true')
            p.footer--container2--row--displayrowOnecol1__containicoin2__p Email : info@dkt.com.vn
      .col-xs-2.col-sm-2.col-md-2.col-lg-2.footer--container2--row--displayrowOneCol2
        p.footer--container2--row--displayrowOneCol2__p thông tin khách hàng
        .footer--container2--row--displayrowOneCol2--containicoin
          i.fa.fa-arrow-right(aria-hidden='true') Tài khoản của tôi
          i.fa.fa-arrow-right(aria-hidden='true') Sản phẩm yêu thích
          i.fa.fa-arrow-right(aria-hidden='true') Lịch sử mua hàng
          i.fa.fa-arrow-right(aria-hidden='true') Chính sách đổi trả
          i.fa.fa-arrow-right(aria-hidden='true') Góp ý , khiếu nại
      .col-xs-2.col-sm-2.col-md-2.col-lg-2.footer--container2--row--displayrowOneCol2
        p.footer--container2--row--displayrowOneCol2__p hỗ trợ dịch vụ
        .footer--container2--row--displayrowOneCol2--containicoin
          i.fa.fa-arrow-right(aria-hidden='true') Hệ thống cửa hàng
          i.fa.fa-arrow-right(aria-hidden='true') Hướng dẫn mua hàng
          i.fa.fa-arrow-right(aria-hidden='true') Hướng dẫn thanh toán
          i.fa.fa-arrow-right(aria-hidden='true') Tích điểm đổi quà
          i.fa.fa-arrow-right(aria-hidden='true') Câu hỏi thường gặp
      .col-xs-2.col-sm-2.col-md-2.col-lg-2.footer--container2--row--displayrowOneCol2
        p.footer--container2--row--displayrowOneCol2__p chính sách ưu đãi
        .footer--container2--row--displayrowOneCol2--containicoin
          i.fa.fa-arrow-right(aria-hidden='true') Chính sách giao hàng
          i.fa.fa-arrow-right(aria-hidden='true') Chính sách đổi trả sản phẩm
          i.fa.fa-arrow-right(aria-hidden='true') Chính sách bảo hành
          i.fa.fa-arrow-right(aria-hidden='true') Giới thiêu sản phẩm mới
          i.fa.fa-arrow-right(aria-hidden='true') Chính sách trả góp
      .col-xs-1.col-sm-1.col-md-1.col-lg-1.footer--container2--row--displayrowOneCol6
        p.footer--container2--row--displayrowOneCol6__p tin tức
        .footer--container2--row--displayrowOneCol6--containicoin
          i.fa.fa-arrow-right(aria-hidden='true') Tin mới
          i.fa.fa-arrow-right(aria-hidden='true') Khuyến mãi
          i.fa.fa-arrow-right(aria-hidden='true') Tuyển dụng
          i.fa.fa-arrow-right(aria-hidden='true') Download
          i.fa.fa-arrow-right(aria-hidden='true') Tags
  hr
  .container.footer--container3
    .row.footer--container3--row
      .col-xs-5.col-sm-5.col-md-5.col-lg-5.footer--container3--row--displayrowCol1
        p.footer--container3--row--displayrowCol1__p1 Sitemap
        p Danh mục sản phẩm
        p Hợp tác
        p Thông tin liên hệ
        p Câu hỏi thường gặp
      .col-xs-5.col-sm-5.col-md-5.col-lg-5.footer--container3--row--displayrowCol2
      .col-xs-2.col-sm-2.col-md-2.col-lg-2.footer--container3--row--displayrowCol3
        i.fa.fa-cc-visa(aria-hidden='true')
        i.fa.fa-cc-mastercard(aria-hidden='true')
        i.fa.fa-cc-paypal(aria-hidden='true')
        i.fa.fa-cc-discover.footer--container3--row--displayrowCol3__discover(aria-hidden='true')
  .footer--container3--row--end
    p.footer--container3--row-end_p Thiết kế bởi Bizweb ⓒ