header.header
  .headerContent1
    .container.headerContent1--container
      .row.headerContent1--container--rowOne
        i.fa.fa-clock-o(aria-hidden='true')
        p.rowOne__p1 #{content_rowOne__p1}
        i.fa.fa-facebook(aria-hidden='true')
        i.fa.fa-twitter(aria-hidden='true')
        i.fa.fa-tumblr(aria-hidden='true')
        i.fa.fa-vimeo(aria-hidden='true')
      .row.headerContent1--container-rowTwo
        .headerContent1--container--rowTwoOne
          a(href="../PROJECT_DAY 21/login.html")
            i.fa.fa-user(aria-hidden='true')
            p.rowTwo__p1 #{content_rowTwo__p1}
        .headerContent1--container--rowTwoTwo
          a(href="../PROJECT_DAY 21/register.html")
            i.fa.fa-user-plus(aria-hidden='true')
            p.rowTwo__p2 #{content_rowTwo__p2}
  .headerContent2
    .container.headerContent2--container
      img(src='../support_file/img/Green Shop/PSD/finallogo.png', alt='lol')
    .headerContent2--rowOne
      i.fa.fa-phone(aria-hidden='true')
      p #{content_p}
    .headerContent2--rowTwo
      p.headerContent2--rowTwo__p Tìm kiếm
      i.fa.fa-search-minus(aria-hidden='true')
    .headerContent2--rowThree
      i.fa.fa-shopping-bag(aria-hidden='true')
      p.headerContent2--rowThree__p 0 Sản phẩm
  .headerContent3
    .container.headerContent3--container
      i.fa.fa-bars(aria-hidden='true')
      ul.headerContent3__ul
        li
          a.home(href='') trang chủ
        li
          a.introduce(href='') giới thiệu
        li
          a.product(href='') sản phẩm
          i.fa.fa-caret-down(aria-hidden='true')
        li
          a.newproduct(href='') sản phẩm mới
          i.fa.fa-caret-down(aria-hidden='true')
        li
          a.news(href='') tin tức
        li
          a.contact(href='') liên hệ